.table{
  border:transparent;
}
.img-thumbnail{
  display: block;
 margin-left: auto;
 margin-right: auto;
  width: 200px;
  height: 200px;
  margin-top: 9px;
  border-radius: 10px;
  }
  
  body{
    
    background-image: url(360_F_461232389_XCYvca9n9P437nm3FrCsEIapG4SrhufP.jpg);
    background-size: cover;
    background-attachment: fixed;
  }